.user-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    background-color: rgb(246, 246, 246);
    padding: 20px;
}

.user-profile img {
    width: 150px;
    height: 150px;
}

.user-details {    
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.left {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right: 50px;
    gap: 30px
}

.userdetails-itemfield {
    margin-bottom: 20px;
}

.userdetails-itemfield p {
    margin: 0;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.userdetails-itemfield input {
    width: 90%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.userdetails-buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.userdetails-buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.userdetails-buttons button:hover {
    background-color: #0056b3;
}

.userdetails-buttons button:last-child {
    background-color: #dc3545;
}
  
.userdetails-buttons button:last-child:hover {
    background-color: #c82333;
}

@media (max-width: 500px) {
    .user-profile {
        flex-direction: column;
        height: 90vh;
    }

    .user-profile img {
        width: 100px;
        height: 100px;
    }

    .left {
        margin-right: 0;
        margin-bottom: 20px;
    }
}