.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 60px;
    box-shadow: 0 1px 3px -2px #000;
    margin-bottom: 1px;
    background-color: white;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-logo p {
    font-size: 30px;
    font-weight: 600;
    line-height: 40px;
    margin: 0;
}

.admin-panel {
    color: rgb(142, 26, 26);
    font-size: 20px;
}

.nav-right {
    display: flex;
    gap: 30px;
    align-items: center;
}

.nav-right button {
    width: 157px;
    height: 40px;
    outline: none;
    border: 1px solid #7a7a7a;
    border-radius: 75px;
    color: #515151;
    font-size: 20px;
    font-weight: 500;
    background: white;
    cursor: pointer;
}

.nav-right button:active {
    background-color: #f3f3f3;
}

@media (max-width: 800px) {
    .navbar {
        padding: 15px 30px;
    }

    .nav-logo img {
        height: 50px;
    }

    .nav-logo p {
        font-size: 24px;
    }

    .admin-panel {
        font-size: 16px;
    }

    .nav-right button {
        height: 30px;
        width: 100px;
        font-size: 14px;
    }
}

@media (max-width: 500px) {
    .nav-logo img {
        height: 30px;
    }

    .nav-logo p {
        font-size: 18px;
    }

    .admin-panel {
        font-size: 12px;
    }

    .admin-panel {
        display: none;
    }
}